data/coformer1/*
data/coformer2/*
data/coformer1
data/coformer2
data/*
extract_cocrystals/*
deep_one_class/*
src/old/*
src/gnn/*
src/gnn/*/*
.gitignore
notebooks_old/*
*.pyc
*.pth

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
VSWorkspaceState.json
settings.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode